* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.content {
    max-width: 1140px;
    margin: 0 auto;
}

.btn {
    border-radius: 20px;
}