{% extends 'base.html' %}

{% block title %}
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Python Flask Contacts Management System</a>
</nav>
{% endblock title%}

{% block content %} 

<div class="content">
    <h4>Manage Contacts <button type="button" class="btn btn-success float-right" data-toggle="modal"
            data-target="#ctmodal"><i class="bi bi-person-plus"></i>Add New Contacts</button></h4>
    <table class="table">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Group</th>
            <th>Joined</th>
            <th>Actions</th>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <a href="">Edit</a>
                <br>
                <a href="">Delete</a>
            </td>
        </tr>
    </table>
    <div id=ctmodal class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Add New Contact</h4>
                </div>
                <div class="modal-body">
                    <form action="{{url_for('add')}}" method="POST">
                        <div class="row g-3">
                            <div class="col">
                                <input type="text" id="first-name" class="form-control" placeholder="First name" aria-label="First name">
                                </div>
                                <div class="col">
                                <input type="text" id="last-name" class="form-control" placeholder="Last name" aria-label="Last name">
                                </div>
                                </div>
                                <div class="row g-3">
                                    <div class="col">
                                <input type="email" id="email" class="form-control" placeholder="Email" aria-label="Email">
                                </div>
                                <div class="col">
                                <input type="text" id="phone" class="form-control" placeholder="Phone" aria-label="Phone">
                                </div>
                                <div class="row g-3">
                                    <div class="col">
                                        <select id="inputGroup" class="form-select placeholder=" Group" aria-label="Group">
                                            <option selected>Choose Group...</option>
                                            <option>Operations</option>
                                            <option>Sales</option>
                                            <option>Management</option>
                                            <option>Research</option>
                                            <option>Operations</option>
                                            <option>IT</option>
                                            <option>Engineering</option>
                                        </select>
                                    </div>
                                    <div class="col">
                                    <input type="date" id="date" class="form-control" placeholder="Date Joined" aria-label="Date Joined">
                                    </div>
                                    <div class="row g-3">
                                        <div class="col">
                                        <input type="submit" value="Add Contact">
                                        </div>
                                        </div>
                                        </div>
                                        </form>
                                        </div>
    </div>
    </div>
    </div>
    </div>
{% endblock content %}