{% extends 'base.html' %}

{% block title %}
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Python Flask Contacts Management System</a>
</nav>
{% endblock title%}

{% block content %} 

<div class="content">
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Group</th>
            <th>Actions</th>
        </tr>

        {% for contact in contacts %}
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <a href="/delete/{{contact_id}}" onclick="return confirm('Move this contact to the Recycle bin?')"><i
                        class="bi bi-trash"></i></a>
            </td>
        </tr>
        {% endfor %}
    </table>

    <h5><i class="bi bi-person-plus"></i>Add New Contacts</h5>
    <div class="form-container">
        <form action="{{url_for('add')}}" method="POST">
            <div class="row g-3">
                <div class="col">
                    <input type="text" name="name" class="form-control" placeholder="Name"
                        aria-label="Name">
                </div>
            </div>
            <div class="row g-3">
                <div class="col">
                    <input type="email" name="email" class="form-control" placeholder="Email" aria-label="Email">
                </div>
                <div class="col">
                    <input type="text" name="phone" class="form-control" placeholder="Phone" aria-label="Phone">
                </div>
                <div class="row g-3">
                    <div class="col">
                        <input type= "text" name="group" class="form-select">
                    </div>
                </div>
                    <div class="row g-3">
                        <div class="col">
                            <input type="submit" value="Add Contact">
                        </div>
                   </div>
        </form>
    </div>
    
{% endblock content %}